<body>
<div class="container">
   <div class="jumbotron">
 </style>
  <p>Angular Fullstack v3.7.6 |
    <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
    <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
    <ul>
   <img src="http://taesoolwon.jtms-group.com/facebook-icon.png" width="42" height="42" align="middle"> <img src="http://www.islh.org/web/images/purple-twitter-bird.png" width="42" height="42" align="middle"> <img src="http://1.bp.blogspot.com/-g-TmIKNl9y4/VqPHpl27YnI/AAAAAAAABzo/e2VlaQABBcc/s1600/WhatsApp.svg.png" width="42" height="42" align="middle"> <img src="https://4.bp.blogspot.com/-sazAMdETP4k/VrCW0HwQ0RI/AAAAAAAAEEA/5qK8qlJqyNw/s400/Gmail_Icon.png" width="42" height="42" align="middle"
 </ul>
  </p>
</div>
</body>
